.c-list{
  list-style: none;
}

.c-list--three-column{
  column-count: 3;
}

.c-list--two-column {
  padding-left: 1rem;

  @include md{
    column-count: 2;
  }
}
.c-list__item {
  &:before {
    content: "•";
    color: $color__primary;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}