.c-actions-call {
  display: flex;
  position: fixed;
  top: 78px;
  right: -190px;
  padding: 10px 15px 10px 10px;
  background: rgba(133, 225, 225, 0.8);
  letter-spacing: 0.165em;
  border-radius: 5px;
  z-index: 99999;
  transition: ease 2s;

  @include md {
    top: 90px;
    right: -225px;
    padding: 10px 15px 10px 10px;
  }

  @include lg {
    top: 15px;
    right: -255px;
    padding: 15px 30px 15px 20px;
  }

  @include xxl {
    right: -285px;
  }
}

.c-actions-phone--open{
  right: 0;
}

.c-actions-call__icon{
  margin-right: 20px;

  img{
    height: 30px;
    width: 30px;
  }

  @include md {
    margin-right: 40px;

    img{
      height: 40px;
      width: 40px;
    }
  }

  @include lg {
    margin-right: 60px;

    img{
      height: 45px;
      width: 45px;
    }
  }



}


.c-actions-phone-wrap{
  text-align: right;
}

.c-actions-phone__text,
.c-actions-phone__link{
  color: $color__text_primary;
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: right;


  @include md {
    font-size: 0.8em;
    line-height: 1.2em;
  }

  @include lg {
    line-height: 1.4em;
  }


  @include xl {

  }

}



