.c-header-sidebar{
  position: relative;
}

#show_hide_sidebar{
  &.show-sidebar{
    left: 0;
  }

  position: fixed;
  left: -200px;
  height: 100vh;
  background-color: $color__bg_secondary;
  transition: ease 2s;
  z-index: 15;

  @include md {
    margin-top: 0;
    left: -370px;
  }
  @include lg {
    left: 0;
  }
}

