.c-info-card {
  padding: 10px 0;

  p {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em;

    @include lg {
      font-size: 1em;
      line-height: 1.3em;
    }

    @include xxl {
      font-size: 1.1em;
      line-height: 1.2em;
    }
  }

  ul {
    padding-left: 1rem;
    padding-bottom: 10px;
    list-style: none;

    li {

      &:before {
        content: "•";
        color: #85E1E1;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  .c-img--right{
    float: right;
  }
}

.c-info-card__intro{
  font-size: 1em;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  color:$color__text_primary;
  padding-bottom: 10px;


  @include lg {
    font-size: 20px;
    line-height: 30px;
  }

}
