.c-header-navigation {
  width: 170px;
  clear: both;
  margin-top: 130px;
  float: left;

  @include md {
    width: 200px;
  }

  @include lg {
    width: 270px;
    margin-top: 0;
  }

  @include xl {
    width: 300px;
  }

  @include xxl {
    width: 400px;
  }

  .c-header-navigation__items{
    display: flex;
    flex-direction: column;

  }

  li{
    position: relative;
    height: 30px;
    overflow: hidden;

    &.active-item {
      a{
        font-weight: 500!important;
      }

      &:before {
        display: block;
        position: absolute;
        right: 0;
        content: "";
        height: 2px;
        width: 100%;
        background-color: $color__primary;
        left: 0;
        top:12px;
        z-index: 5;

      }
    }

    &.height-auto{
      height: auto!important;
    }

    @include lg {
      height: 50px;

      &.active-item {
        &:before {
          top:25px;

        }
      }
    }
  }

  a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    padding-left: 5px;
    line-height: 30px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.165em;
    background-color: $color__bg_secondary;
    color: $color__text_primary;
    z-index: 20;

    @include lg {
      margin-left: 100px;
      line-height: 50px;
    }

    @include xl {
      margin-left: 100px;
    }
  }
}


.sub-menu{
  display: none;

  &.sub-menu--open{
    display: block;
    position: relative;
  }

  li {
    display: block;
    position: relative;

    a{
      margin-left: 55px;

      @include lg {
        margin-left: 130px;
      }

      @include xl {
        margin-left: 130px;
      }

      @include xxl {
        margin-left: 130px;
      }
    }
  }

  .active-anchor {
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color__primary;
    z-index: 1;

    @include lg {
      top: 22px;
    }
  }
}

/* Small menu. */

.menu-toggle {
  display: block;
  background: none;
  border: none;
  outline: none;
  font-size: 25px;

  &:focus {
    outline: none;
  }

  @include lg {
    display: none;
  }

}


