.c-mobile-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: #fff;
  z-index: 30;
}
.c-mobil__logo{
  display: block;
  height: 70px;
  img{
    height: 100%;
  }
}



.c-header__branding{
  display: none;

  @include lg {
    display: block;
    max-width: 260px;
    padding: 30px 20px;
    margin: 0 0 20px 0;
  }

  @include xl {
    padding: 20px;
  }

  @include xxl {
    max-width: 360px;
  }

}


