.c-hero-main {
  position: relative;
  height: 100vh;

  p {
    margin-bottom: 5px;
    font-size: 0.9em;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    color: #434343;

    @include md {
      font-size: 1em;
    }

    @include lg {
      margin-bottom: 10px;
      font-size: 1em;
      line-height: 25px;
    }

    @include xl {
      font-size: 1.1em;
    }
  }
}

.e-hero-main__title {
  margin-bottom: 10px;
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #435A5A;

  @include md {
    font-size: 2em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
  }

}

.e-hero-main__title--right {
  text-align: right;
}

.c-hero-main-position {
  position: absolute;
  bottom: 50px;
}