.c-gallery-modal{
  column-count: 3;
  column-gap: 5px;
}

.c-gallery-modal__img{
  margin-bottom: 5px;
}

.c-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
  display: none;
}

.c-portfolio-modal {
  max-width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 20;


  #btn-close {
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 20px;
    cursor: pointer;
    color: $color__primary;
  }

  #left, #right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: $color__primary;
  }

  #left {
    left: -40px;
  }

  #right {
    right: -40px;
  }


}

#active-image {
  width: auto;
  height: 100%;
  object-fit: contain;
}













/*
$menu-item-height: 41px;
$menu-item-spacing: 16px;





.vertical-menu {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 220px;  // Avoid jitter on menu item click
}

.vertical-menu-wrapper {
  max-width: 230px;
  margin: 50px auto;
  display: flex;
  position: relative;
}

.active-marker {
  // Initially, this is positioned so that the first menu item is shown as active.
  transition: transform 0.4s;
  width: 5px;
  background-image: linear-gradient(90deg, #ff5e5e, #f54985);
  background-size: 100%;
  height: 30px;
  margin-left: 7px;
  transform: translateY(0px);
}

.vertical-menu-item {
  font-size: 1.1em;
  color: #fff;
  transition: all 0.4s;
  height: $menu-item-height;  // Define height here to ensure no spacing change on hover effect
  text-align: right;

  &.is-active {
    // Note: it's better to use scale or another property change when possible (things that don't trigger repaints) vs font size changes in a transition.
    font-size: 1.4em;
  }
}

.link--inverse-menu {
  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }

  &:hover,
  &:active {
    color: #d3d3d3;
  }
}*/


