.l-gallery-thumbnail-items-box {
  display: flex;
  flex-wrap: wrap;

}

.l-gallery-thumbnai-img-box{

  img{
    text-align: center;
    vertical-align: top;
    width: 100%;
    height: auto;
  }
}

.c-gallery-thumbnail {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: 3px solid $color__secondary;
  border-radius: 5px;

  @include md {
    height: 150px;
  }

  @include lg {
    height: 100px;
  }

  @include xl {
    height: 150px;
  }

  @include xxl {
    height: 200px;
  }

  &:hover{
    border: 3px solid $color__primary;
  }
}