*,
*:before,
*:after{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}


html,
body{
  height: 100%;
  width: 100%;
  font-size: 0.95em;
  line-height: 1.2em;
  background-color: $color__bg_secondary;
  color: $color__text_tertiary;

  @include md {
    font-size: 1em;
    line-height: 1.4em;
  }

  @include xxl {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  p,
  pre{
    strong{
      font-weight: 400;
    }

  }

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }


ol, ul {
  list-style: none; }

a,
a:hover,
a:active,
a:focus{
  text-decoration: none;
}

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
}




