h1, h2, h3, h4, h5, h6 {
    clear: both;
}

.e-page-primary-title__box{

    @include lg {
        margin-bottom: 20px;
    }

}

.e-page-primary-title{
    color:$color__text_primary;
    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.16em;

    @include sm {

    }

    @include md {
    }

    @include lg {
        font-size: 30px;
        line-height: 30px;
    }
    @include xl {

    }

}
.e-primary-title{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    &:after{
        display: block;
        position: absolute;
        right: 0;
        content: "";
        height: 2px;
        width: 100%;
        background-color: $color__primary;
        left: 0;
        top: 12px;

        @include md {
            top: 45%;
        }
    }

    @include lg {
        margin-bottom: 10px;
    }
}
.e-primary-title__item {
    display: inline;
    position: relative;
    padding-right: 5px;
    color:$color__text_primary;
    background-color: $color__secondary;
    font-size: 1.1em;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.05em;
    z-index: 10;

    @include sm {

    }

    @include md {
    }

    @include lg {
        padding-right: 10px;
        font-size: 20px;
    }


    @include xl {

    }
}
 
