$color__base_light: #fff;
$color__base_dark: #000;

$color__primary:#85E1E1;
$color__secondary: #F2F2F2;

$color__bg_secondary:#FBFBFB;

$color__text_primary: #646464;
$color__text_secondary:#435A5A;
$color__text_tertiary:#818080;
